<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Nouveau contrat</title>
</head>

<body>
    <h1>Créer un contrat</h1>

    <form th:action="@{/contrats/create}" method="post" th:object="${contrat}">
        <h3>Contrat avec :</h3>

        <select name="utilisateurId" required>
            <option value="">
                -- Choisir un client --
            </option>
            <option th:each="client : ${clients}" th:value="${client.id}" th:text="${client.email}" th:selected="${clientSelectionne != null 
                    and client.id == clientSelectionne.id}">
            </option>
        </select>

        <br><br>

        <h3>Type de contrat</h3>

        <div th:each="type : ${typesContrat}">
            <input type="radio" name="typeContratId" th:value="${type.id}" required>
            <span th:text="${type.libelle}"></span>
        </div>

        <br>

        <label>Demande de stockage (id)</label>

        <br>

        <input type="number" th:field="*{demandeStockageId}" required>

        <br><br>

        <label>Zone (id)</label>

        <br>

        <input type="number" th:field="*{typeZoneId}" required>

        <br><br>

        <label>Volume d'espace (m3)</label>

        <br>

        <input type="number" step="0.001" th:field="*{volumeEspaceM3}" required>

        <br><br>

        <label>Date début</label>

        <br>

        <input type="date" th:field="*{dateDebut}" required>

        <br><br>

        <label>Date fin</label>

        <br>

        <input type="date" th:field="*{dateFin}">

        <br><br>

        <label>Description</label>

        <br>

        <textarea th:field="*{description}" rows="5" cols="50"></textarea>

        <br><br>

        <button type="submit">
            Créer le contrat
        </button>
    </form>
</body>

</html>
