<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inscription Client</title>
</head>
<body>

<h1>Créer un client</h1>

<p th:if="${erreur}" style="color:red" th:text="${erreur}"></p>

<form th:action="@{/clients/enregistrer}" method="post">

    <h3>Compte</h3>

    Email :
    <input type="email"
           name="email"
           required>
    <br><br>

    <h3>Informations personnelles</h3>

    Nom :
    <input type="text"
           name="nom"
           required>
    <br><br>

    Prénom :
    <input type="text"
           name="prenom">
    <br><br>

    Téléphone :
    <input type="text"
           name="numero">
    <br><br>

    Adresse :
    <input type="text"
           name="adresse">
    <br><br>

    Secteur :
    <input type="text"
           name="secteur">
    <br><br>

    <button type="submit">
        Enregistrer
    </button>

</form>

</body>
</html>