<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifier un client</title>
</head>
<body>

<h1>Modifier un client</h1>

<form th:action="@{/clients/modifier/{id}(id=${client.id})}"
      th:object="${client}"
      method="post">

    Nom :
    <input type="text" th:field="*{nom}">
    <br><br>

    Prénom :
    <input type="text" th:field="*{prenom}">
    <br><br>

    Téléphone :
    <input type="text" th:field="*{numero}">
    <br><br>

    Adresse :
    <input type="text" th:field="*{adresse}">
    <br><br>

    Secteur :
    <input type="text" th:field="*{secteur}">
    <br><br>

    Email :
    <input type="email" th:field="*{utilisateur.email}">
    <br><br>

    <button type="submit">
        Enregistrer les modifications
    </button>

</form>

</body>
</html>