<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>Livraison de </h3>
    <h3 th:text="${livraison.client.user_email}"></h3>

    <p th:text="${livraison.adresseLivraison}"></p>
    <p>Poids du colis</p>
    <p th:text="${livraison.poidsTotal}"></p>
    <p>Taille du Colis</p>
    <p th:text="${livraison.volumeTotal}"></p>

    <p>Date de livraison</p>
    <input type="date" name="dateLivraison">

    <p>Frais de Livraison </p>
    <p>Mode de calcule de la livraison</p>
    <table border="1">
        <tr>
            <th>Poids</th>
            <th>Volume</th>
            <th>Zone</th>
            <th>Commune</th>
            <th>Prix Poids par </th>
            <th>Prix Volume par </th>
            <th>Prix Zone par </th>
            <th>Total</th>
        </tr>
        <td th:text="${livraison.poidsTotal}"></td>
        <td th:text="${livraison.volumeTotal}"></td>
        <td th:text="${livraison.zoneLivraison.libelle}"></td>
        <td th:text="${livraison.zoneLivraison.commune}"></td>
        <!-- <td th:text="${livraison.prixParKg}"></td> -->

        <!-- <td th:text="${livraison.zoneLivraison.tarifBase.prixParKg}"></td> -->
        <!-- <td th:text="${livraison.zoneLivraison.tarifBase.prixParkg}"></td> -->

        <input type="button" value="Valider la Livraison">
    </table>
</body>

</html>