<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Livraison Disponible</h1>
    <table>
        <tr>
           <th>Id </th>
           <th>Client</th>
           <th>Adresse</th>
           <th>Action</th>
        </tr>
        <tr th:each="l :${listeLivraison}">
            <td th:text="${l.id}"></td>
            <td th:text="${l.client.user_email}"></td>
            <td th:text="${l.adresseLivraison}"></td>
            <td><a th:href="@{/livraisons/config_livraison(id=${l.id})}">Configurer</a></td>
        </tr>
    </table>
</body>
</html>