<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/list-zones.css}">
        <link rel="stylesheet" th:href="@{/css/emplacement.css}">
    </head>
    <body>

        <main> 
            
            <div th:each ="zone : ${zones}" class="card" th:onclick="'ShowEmplacement(' + ${zone.id} + ')'"> 

                <h3 th:text="${zone.libelle}"> </h3>
                <p> Allees : <span th:text=" ${zone.allees.code}"> </span> </p>
                <p> Type Zone : <span th:text="${zone.type_zone.libelle}"> </span> </p>
                <p> Espace : <span th:text="${zone.volume_total_m3}"> </span> </p>

            </div>

            <div id="popup" class="popup">
                <div class="popup-content">
                    <span class="close" onclick="closePopup()">&times;</span>
                    <h2>Emplacements</h2>
                    <p id="loading-message"> Loading... </p>
                    <div id="etagere" class="etagere-grid"></div>
                </div>

        </main>

        <script th:src="@{/js/emplacement.js}"></script>
    </body>
</html>