<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherhe rapide emplacement</title>
</head>

<body>
    <h2>Veuillez remplir les informations ci_dessous : </h2>
    <form th:action="@{/faire-recherche}" method="GET">
        <label for="typeProduit">Le type de produit </label>
        <select name="typeZoneRequis">
        <option th:each="lz : ${listeZone}"
                th:value="${lz.id}" 
                th:text="${lz.code}">code</option>
            </select><br>
        <label for="volume">Volume requis</label>
        <input type="number" name="volume" /><br/>
        <label for="quantite">Quantite</label>
        <input type="number" name="quantite" /><br/>
        <button type="submit">Rechercher</button>
    </form>

    <hr>
    <h2>Resultat de la recherche :</h2><br/>
    <div th:if="${erreur != null}">
        <p th:text="${erreur}">erreur</p>
    </div>

    <ul th:each="res : ${resultat}">
        <li th:text="${res.code}">code</li>
    </ul>
</body>
</html>