<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Ajouter une Vehicule</h1>
    <form th:action="@{/vehicules/save}" th:object="${vehicule}" method="post">
        <p><input type="text" th:field="*{immatriculation}" placeholder="Immatriculation"> </p>
        <p><input type="text" th:field="*{marque}" placeholder="Marque"></p>
        <p><input type="text" th:field="*{modele}" placeholder="Modele"></p>
        <br>
        <p>Annee</p>
        <p><input type="text" th:field="*{annee}" placeholder="Annee"></p>
        <br>
        <p>Capacite de Volume de la voiture</p>
        <p><input type="text" th:field="*{capaciteVolume}" placeholder="Capacite Volume"></p><p>m3</p>
        <br>
        <p>Capacite de Charge de la voiture </p>
        <p><input type="text" th:field="*{capaciteChargekg}" placeholder="Capacite kilograme"></p> <p>kg</p>
        <br>
        <p>Kilometrage actuel</p>
        <p><input type="text" th:field="*{kilometrage}" placeholder="Kilometrage actuel"></p>
        <br>
        <select name="typeVehiculeId">
            <option value="">Choisir un type</option>
            <option th:each="t :${typesVehicule}"
                    th:value="${t.id}" 
                    th:text="${t.libelle}">
            </option>
        </select>
        <select name="statutId">
            <option value="">Choisir un Statut</option>
            <option 
                th:each="s :${statutVehicule}"
                th:value="${s.id}"
                th:text="${s.libelle}">
            </option>
        </select>
        <input type="submit" value="Enregistre">
    </form>
</body>

</html>